@attribute [Route(Routes.Index)]
@using ProjectManager.Components.Stories
@using ProjectManager.Models.Dto
@using Routes = ProjectManager.Models.Statics.Routes
@using ProjectManager.Components.Jobs

<PageTitle>Home</PageTitle>

<MudStack Row AlignItems="AlignItems.Start">
	<div style="width: 100%">
		@if (Context is null)
		{
			<MudAlert Severity="Severity.Info">
				Nie załadowano żadnego projektu. Możesz utworzyć nowy projekt przy pomocy przycisku 'Stwórz'.
			</MudAlert>
		}
		else
		{
			<MudStack Row AlignItems="AlignItems.Start">
				<div style="width: 100%">
					<MudText Typo="Typo.h2">
						@Context.Project.Name
					</MudText>
					<MudText Typo="Typo.caption">
						@Context.Project.Description
					</MudText>
				</div>
				<MudButton Color="Color.Warning" StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Href="@Routes.Projects.Edit">
					Edytuj
				</MudButton>
			</MudStack>
			
			<MudGrid Class="my-3">
				<MudItem xs="12" lg="6">
					<CurrentStoriesDisplayer ProjectId="@Context.Project.Id" />
				</MudItem>
				<MudItem xs="12" lg="6">
					<CurrentJobsDisplayer ProjectId="@Context.Project.Id" />
				</MudItem>
			</MudGrid>
		}
	</div>
	<MudButton Color="Color.Success" StartIcon="@Icons.Material.Filled.AddCircle" Variant="Variant.Filled" Href="@Routes.Projects.Add">
		Stwórz
	</MudButton>
</MudStack>

@code {
	[CascadingParameter]
	public ProjectContext? Context { get; set; }
}